<div ng-controller="ContentCtrl" ng-cloak>
  <md-content class="md-padding padd-65" layout="row" layout-wrap layout-align="center start" >
    <div flex="100" flex-sm="100" flex-xs="100" layout="column">
      <md-card  ng-repeat="item in todo">
 
        <md-card-content class="padding0" layout="row" layout-align="space-between">
          <div class="md-media-lg card-media"><img ng-src="{{item.pic}}" class="md-card-image width100 height100" alt="{{item.name}}"></div>
          <md-card-actions layout="column">
            <md-button   class="md-icon-button" aria-label="Favorite">
              <md-icon ng-click="fave(item.id,item.fav)" md-svg-icon="{{iconslike}}"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon ng-click="downloadimg(item.srcpic,item.direct,item.picname,item.id)"  md-svg-icon="img/icons/progress12.svg"></md-icon>
            </md-button>
            <!--<md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="img/icons/document4.svg"></md-icon>
            </md-button>-->
          </md-card-actions>
        </md-card-content>    
           <md-card-title class="padding15">
          <md-card-title-text>
            <span class="md-headline">{{item.name}}</span>
            <span class="md-subhead">شرکت سازنده: {{item.co_name}}</span>
            <span class="md-subhead">محل قرارگيري شماره شاسي: {{item.comment}}</span>
            <span class="md-subhead">حق بیمه شخص ثالث:{{item.bime}} ریال</span>
           
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
    
<div flex="50" flex-sm="50" flex-xs="50" layout="column"  ng-repeat="item in todop">    
          <md-card >
        <img ng-src="{{item.pic}}"   ng-click="showAdvanced($event,item.pic); " class="md-card-image" alt="Washed Out">
      </md-card>
</div>
  </md-content>
</div>



