<!--bakhsh tabs-->


<div ng-controller="FORMCtrl" layout="column" class=" padd-48" layout-padding ng-cloak>
  <br/>
  <md-content class="autoScroll">
    <md-input-container class="md-icon-float md-block">
      <label>نام شرکت</label>
      <md-icon md-svg-src="img/icons/wrench73.svg" class="name"></md-icon>
      <input ng-model="user.name" type="text">
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
      <label>نام خودرو</label>
      <md-icon md-svg-src="img/icons/window58.svg" class="name"></md-icon>
      <input ng-model="user.name" type="text">
    </md-input-container>
    
        <md-input-container class="md-icon-float md-block">
      <label>تصویر</label>
      <md-icon md-svg-src="img/icons/wrenches12.svg" class="name"></md-icon>
      <input ng-model="user.phone" type="file" placeholder="تصویر" >
          </md-input-container>

      <md-button class="md-raised md-primary">ارسال</md-button>  </md-content>
</div>


<!--end bakhsh tabs-->