<!--bakhsh tabs-->


<div ng-controller="FORMCtrl" layout="column" class=" padd-48" layout-padding ng-cloak>
  <md-content>
 <p class="md-padding"> در صورتي كه از خودروي جديدي بازديد مي كنيد  كه اطلاعات آن در برنامه موجود نيست و يا تصاوير بهتري داريد مي توانيد نام خودرو، محل قرار قرارگيري شماره پلاك شاسي و تصاوير آن را جهت استفاده در برنامه براي ما ارسال كنيد.
</p>
    <md-input-container ng-show="false" class="md-icon-float md-block">
      <label>نام شرکت</label>
      <md-icon md-svg-src="img/icons/car-settings.svg" class="name"></md-icon>
      <input ng-model="user.company" type="text">
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
      <label>نام خودرو</label>
      <md-icon md-svg-src="img/icons/car-side.svg" class="name"></md-icon>
      <input ng-model="user.cars" type="text">
    </md-input-container>
    
<md-input-container class="md-icon-float md-block">

<md-button  class="md-raised md-primary" onclick="getPhotof(pictureSource.SAVEDPHOTOALBUM);">انتخاب تصویر 1</md-button>
<img style="display:none; padding:0px" width="48" height="48" id="largeImage0" src="" />

<md-button  class="md-raised md-primary" onclick="getPhotoy(pictureSource.SAVEDPHOTOALBUM);">انتخاب تصویر 2</md-button>
<img style="display:none; padding:0px"   width="48" height="48"  id="largeImage1" src="" />
</md-input-container>

<md-input-container class="md-icon-float md-block">

<md-button  class="md-raised md-primary" onclick="getPhotod(pictureSource.SAVEDPHOTOALBUM);">انتخاب تصویر 3</md-button>

<img style="display:none; padding:0px" width="48" height="48" id="largeImage2" src="" />

<md-button  class="md-raised md-primary" onclick="getPhotos(pictureSource.SAVEDPHOTOALBUM);">انتخاب تصویر 4</md-button>
<img style="display:none; padding:0px"   width="48" height="48"  id="largeImage3" src="" />
</md-input-container>

<md-button ng-disabled="btshow" style=" background-color: greenyellow;color:#000;" class="md-raised md-primary width100" ng-click="sendform();">ارسال</md-button> 
       </md-content>
</div>

<!--end bakhsh tabs-->