  <md-content   ng-controller="mainController"  class=" padd-48"  >
<md-input-container class="md-icon-float md-block marg-35" >
  <label>جستجو</label>

  <input ng-model="query" type="text">
  <md-icon md-svg-src="img/icons/magnifier13.svg" class="name"></md-icon>
</md-input-container>  
<!-- <md-subheader class="md-primary">شرکت های خودرو ساز</md-subheader>
--><md-list>
 <md-list-item class="md-3-line" ng-repeat="item in todos  | filter : search" ng-click="go(item.id);" >
 <md-divider ></md-divider>
        <img ng-src="{{item.logo}}?{{$index}}" class="md-avatar moraba" alt="{{item.name}}" />
        <div class="md-list-item-text" layout="column">
          <h3>{{ item.name }}</h3>
          
          <p>{{ item.comment }}</p>
        </div>     

      </md-list-item>
    </md-list>
<md-button aria-label="menu" ng-click="go('form/2')" class="md-fab md-warn ">
     <md-icon class="md-primary" md-svg-src="img/icons/plus-sign.svg" ng-style="{'font-size': 32px}" ></md-icon>
</md-button>
</md-content> 

<!--data-ng-init="init()" -->