<div ng-controller="settingCtrl" ng-cloak   class=" padd-65 md-padding" >
  <md-content>
    <md-list>
   <md-list-item ng-click="update_co();"  class="md-2-line" >
        <md-icon md-svg-icon="img/icons/worker47.svg" ></md-icon>
        <div class="md-list-item-text" >
          <h3> بروز رسانی تصاویر شرکت ها</h3>
          <p> با انتخاب این گزینه تصاویر شرکت ها در بخش اول برنامه مجددا بارگزاری میشود (نیازمند اینترنت)</p>
        </div>
      </md-list-item>
 <md-list-item ng-click="clear();"  class="md-2-line" >
    <md-icon md-svg-icon="img/icons/worker47.svg" ></md-icon>
    <div class="md-list-item-text" >
      <h3> پاک کردن اطلاعات برنامه</h3>
      <p> با انتخاب این گزینه اطلاعات برنامه پاک می شود و از اطلاعات برنامه مجددا از اینترننت بارگذاری می شود.</p>
    </div>
  </md-list-item>   
    </md-list>
</md-content>
</div> 